@import url('https://fonts.googleapis.com/css2?family=Special+Elite&family=Syncopate&family=Unlock&display=swap');

:root {
  --blue: #14213D;
  --yellow: #fca311;
  --grey: #e5e5e5;
  --black: #000000;
  --white: #ffffff;

}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Special Elite;
  background-color: #14213d ;
}

.container {
  max-width: 500px;
  margin: 30px auto;
  overflow: auto;
  min-height: 300px;
  border-radius: 5px; 
  padding: 30px;
  margin-top: 6em;
  background-color: #fca311;
  border-top: 100px solid white;

}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.btn {
  display: inline-block;
  background: #659b5e;
  color: #fff;
  border: none;
  padding: 10px 20px;
  margin: 5px;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  font-size: 15px;
  font-family: inherit;
}

.btn:focus {
  outline: none;
}

.btn:active {
  transform: scale(0.98);
}

.btn-block {
  display: block;
  width: 100%;
}

.task {
  background: #e5e5e5;
  margin: 5px;
  padding: 10px 20px;
  cursor: pointer;
  border-left: 20px solid white;

}

.task.reminder {
  border-left: 20px solid #659b5e;
}

.task h3 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.add-form {
  margin-bottom: 40px;
}

.form-control {
  margin: 20px 0;
  
}

.form-control label {
  display: block;
}

.form-control input {
  width: 100%;
  height: 40px;
  margin: 5px;
  padding: 3px 7px;
  font-size: 17px;
}

.form-control-check {
  display: flex;
  align-items: center;
  justify-content: space-between;
 
}

.form-control-check label {
  flex: 1;

}

.form-control-check input {
  flex: 2;
  height: 20px;

}

footer {
  margin-top: 30px;
  text-align: center;
}